/*Columnistas*/
/*body*/
* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
}


/*común*/
.img-cien {
	width: 100%;
}

/*header*/

body .header-sup {
	background-color: #DDD;
	height: auto;
	border-bottom: 1px solid #8A8A8A;
	padding-top: 1%;
	font-family: Oswald;
}

.family-oswald {
	font-family: Oswald;
}

/*buscador*/

div .enlaces {
	font-size: 0.7em;
	padding-top: 12px;
	padding-bottom: 8px;
}

div .enlaces a {
	color: #5E5E5E;
	padding-right: 7px;
}

.buscador {
	padding-bottom: 5px;
	padding-top: 3px;
}

.buscador button {
	padding: 2px ;
	font-size: 0.8em;
	margin-right: 20px;
}

.buscador a {
	padding-right: 16px;
}

.buscador form {
	display: inline-block;
}

.form-inline:before {
	content: "\007C";
	color: gray;
    font-size: 20px;
    position: relative;
    top: 1.5px;
}

.line:before {
	content: "\007C";
	color: gray;
    font-size: 20px;
    position: relative;
    top: 1.5px;
}

.buscador input {
	font-size: 0.6em;
	width: 63%;
	background-color: transparent;
	border: none;
}

form button {
	border: none;
}

.mt-70 {
	margin-top: 70px;
}

/*logo*/

.header-logo {
	padding-top: 2%;
	padding-bottom: 1.5%;
}

.logo-img {
	margin-top: 3.5%;
	width: 100%;
}

/*caja noticia*/

.box-autor {
	padding-left: 67px;
}

.noticia-nac {
	font-size: 0.7em;
	font-weight: bold;
	border-top: 0.8px solid #8A8A8A;
	border-left: 0.8px solid #8A8A8A;
	border-bottom: 3px solid #C00101;
	border-right: 0.8px solid #8A8A8A;
	height: 60px;
	width: 113%;
	padding-top: 38px;
}

.domingo {
	font-size: .9em;
    font-weight: bold;
    color: #FFF;
    background-color: #BF0000;
    width: 20%;
    height: 20px;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 11px;
    margin-top: -36px;
    margin-left: 104px;
}

.text-autor {
	display: inline-block;
	border: .8px solid #8A8A8A;
	border-radius: 13px;
	width: 250px;
	height: auto;
	font-size: 0.8em;
	padding: 4%;
	background-color: #FFF;
}

.autor-fondo {
	background-color: #1F1F1F;
	height: 60px;
	width: 300px;
    margin-left: 15%;
}

.img-autor {
	margin-left: 86%;
    margin-top: -29%;
}

.img-editorial {
	margin-top: -7%;
    margin-left: 1%;
}

/*nav red*/

.bg-red {
	background-color: #BF0000;
	border-radius: 8px;
	font-size: 0px;
	overflow: hidden;
	margin-bottom: 21px;
}

.btn-nav {
    font-size: 12px;
    color: white;
    display: inline-block;
	padding: 7px 25px 7px 27px;
}

.nav-blue {
	background-color: #113573 !important;
}

.linea-black {
	border-right: 1px solid #333;
}

/*nav gray*/

.bg-gray-nav {
	background-color: #EFEFEF;
	font-size: 0px;
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 20px;
}

.nav-gray {
	float: left;
}

.nav-gray:after {
	content: "\2022";
	color: gray;
    font-size: 20px;
    position: relative;
    top: 1.5px;
}

.btn-black {
	background-color: #000;
	float: left;
}

.btn-black {
	color: #FFF !important;
}

.btn-nav-gray {
    font-size: 12px;
    color: #000;
    display: inline-block;
	padding: 7px 30px 7px 34px;
}

/*noticias*/

.noticia-jne {
	background-image: url(../image/img_grid_principal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.relative {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: -moz-linear-gradient(top,  rgba(181,189,200,0.28) 0%, rgba(40,52,59,0.99) 99%, rgba(40,52,59,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.28) 0%,rgba(0,0,0,0.99) 99%,rgba(40,52,59,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.28) 0%,rgba(0,0,0,0.9) 99%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b5bdc8', endColorstr='#28343b',GradientType=0 );
}

.belaunde {
	background-image: url(../image/img_grid_secundario.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 237px;
}

.espacio {
	margin-bottom: 5%;
}

.noticia-der {
	padding-left: 5%;
}

.noticia-principal .titulo-noticia a {
	color: #000;
	font-size: 1.2em;
}

.iconos-inf p {
	display: inline-block;
}

div .overlay .noticia-texto h3 a{
	color: #FFF;
	text-shadow: 4px 3px 4px #000;
}

div .overlay .noticia-texto h4 a{
	color: #FFF;
	text-shadow: 4px 3px 4px #000;
}

div .overlay .noticia-texto p a{
	color: #FFF;
	font-size: 0.7em;
}

.texto-izq {
	padding: 385px 30px 0 30px;
}

.texto-der {
	padding: 150px 30px 0 30px;
}

/*iconos*/

.bg-if, .bg-it, .bg-ig {
	display: inline-block;
	background-color: #EFEFEF;
	width: 25px;
	height: 25px;
	padding: 2px;
	border-radius: 5px;
	border-bottom: 3px solid;
}

.iconos-inf .bg-if .fa-facebook {
	color: #23599B;
}

.fa-twitter {
	color: #00B8DB;
}

.fa-google-plus {
	color: #ED6559;
}

.fa-rss {
	color: #F1A539;
}

.iconos-inf .bg-if {
	border-color: #23599B;
	margin-right: 0.5em;
}

.iconos-inf .bg-it {
	border-color: #00B8DB;
}

.iconos-inf .bg-ig {
	border-color: #ED6559;
}

/*hover*/

.nav-box li .blue:hover {
	background-color: #284483;
	padding-top: 7px;
}

.nav-box li a:hover {
	background-color: #DE6363;
	padding-top: 7px;
}

.bg-if:hover {
    background-color: rgba(0, 42, 80, 0.5);
} 

.bg-it:hover {
    background-color: rgba(0, 110, 163, 0.4);
} 

.bg-ig:hover {
    background-color: rgba(178, 44, 42, 0.5);
} 

.nav-red:hover {
	background-color: #ED4744;
}

.enlaces a:hover {
	color: #403E3E;
}

.btn-nav:hover {
	text-decoration: none;
	color: white;
}

@media screen and (max-width : 920px) {
	.noticia-nac {
		margin-top:20px;
		margin-bottom: 20px;
		margin-left: 40px;
		margin-right: 
	}

}

@media screen and (max-width : 620px) {
	.noticia-nac {
		margin-top:20px;
		margin-bottom: 20px;
		margin-left: 40px;
		margin-right: 
	}

}



/*Noticia*/

.noticias span, .noticias .gray-em {
	color: gray;
	font-size: 0.8em;
}
.noticias i {
	font-size: 1.2em;
}
.noticias .ult-noticias {
	font-family: "Oswald"; 
	color: gray;
	margin-top: 2%; 
}
.noticias .titulo{
	text-decoration: none;
	color: black;
}
.noticias .fs-p {
	font-size: 1em;
	margin-top: 1%;
}
.bg-if ,.bg-it ,.bg-ig {
	display: inline-block;
	background-color: #EFEFEF;
	width: 25px;
	height: 25px;
	padding: 2px; 
	border-radius: 5px;
	border-bottom: 3px solid;
	margin-left: 0.3em;
}
.noticias span {
	margin: 0.3em;
}
.noticias .border-b {
	margin-top: 2%;
	margin-bottom: 3%;
	border-bottom: 1px solid #CDCDCD; 
	padding-bottom: 1.5em;
}
.noticias .img-news {
	width: 100%;
}
.noticias .g-boton{
	margin-left: 0.3em;
	margin-right: 0.3em;
}
.noticias .bg-if:hover {
	background-color: rgba(0, 42, 80, 0.5);
} 
.noticias .bg-it:hover {
	background-color: rgba(0, 110, 163, 0.4);
} 
.noticias .bg-ig:hover {
	background-color: rgba(178, 44, 42, 0.5);
} 
.noticias .fa-facebook {
	color: #23599B;
}
.noticias .fa-twitter {
	color: #00B8DB;
}
.noticias .fa-google-plus {
	color: #ED6559;
}
.noticias .bg-if {
	border-color: #23599B;
}
.noticias .bg-it {
	border-color: #00B8DB;
}
.noticias .bg-ig {
	border-color: #ED6559;
}
.noticias .fa-youtube-play {
	color: #ED6559;
}

/*Boletin de Subscripcion*/

.noticias .bg-dots {
	background-image: url("../image/trama_square.jpg");
	padding: 8% 0;
	margin-bottom: 5%; 
}
.noticias .btn-noticias {
	margin: 2% 25%;
	width: 50%;
}
.noticias .bg-dots .suscribe {
	margin: -25px auto;
}
.noticias .bg-dots p {
	font-size: 1.2em;
}
.noticias .bg-dots .bg-white {
	background-color: white;
	width: 90%; 
	padding: 8% 2%; 
}
.noticias .bg-dots .btn-danger {
	margin-top: 2%;
	width: 75%;
}
.noticias .bg-dots #exampleInputEmail1 {
	width: 80%;
}

/*Aweita Libero Popular Wapa*/

.aweita, .libero , .popular, .wapa {
	border: 1px solid #CDCDCD;
	padding: 2%;
	margin-top: 5%;
}
.aweita .player, .libero .player, .popular .player, .wapa .player{
	width: 90%;
	border: 3px solid gray;
}
.aweita .pd-5, .libero .pd-5, .popular .pd-5, .wapa .pd-5 {
	padding: 2% 5%;
}
.aweita .pd-l, .libero .pd-l, .popular .pd-l, .wapa .pd-l {
	padding-left: 0;
}
.aweita .pd-r, .libero .pd-r, .popular .pd-r, .wapa .pd-r {
	padding-right: 0;
}
.aweita p, .libero p, .popular p, .wapa p {
	font-size: 0.8em;
}


/*Aweita*/

.aweita .mas {
	width: 105px;
	border-bottom: 4px solid #94339B; 
	margin-bottom: -2%;
	margin-top: 2%; 
}
.aweita p a {
	color: #94339B;
}

/*Libero*/

.libero .mas {
	width: 105px;
	border-bottom: 4px solid #DD0042; 
	margin-bottom: -2%;
	margin-top: 2%; 
}
.libero p a {
	color: #DD0042;
}


/*Popular*/
.popular .mas {
	width: 120px;
	border-bottom: 4px solid #FCE75D; 
	margin-bottom: -2%;
	margin-top: 2%; 
}
.popular p a {
	color: #DD0042;
}

/*Wapa*/

.wapa .mas {
	width: 100px;
	border-bottom: 4px solid #DD0042; 
	margin-bottom: -2%;
	margin-top: 2%; 
}
.wapa p a {
	color: #DD0042;
}

/* Footer*/

.gray-grupo-lr {
	background-color: #EFEFEF;
}
.grupo-lr1 {
	padding-top: 3%;
	margin-bottom: 1%; 
}
.grupo-lr a {
	text-decoration: none;
	color: black; 
	display: block;
	font-size: 0.8em;
}
.grupo-lr .info {
	margin-top: 1%;
	padding: 10% 6%; 
 	border-right: 1px solid white;
}
.grupo-lr a:hover {
	text-decoration: underline;
}
.grupo-lr p {
	margin-bottom: 0;
	font-size: 0.8em;
}
.grupo-lr .footer-text{
 	border-top: 1px solid white;
	font-size: 0.8em;
	padding: 1% 0%;
	color: gray; 
}
.dark-gray-grupo-lr {
	background-color: #1a1a1a;
}
.dark-gray-grupo-lr h3, .dark-gray-grupo-lr h5 {
	color: white;
	font-family: "PT Sans";
}
.dark-gray-grupo-lr h3 {
	padding-top: 3%;
}
.dark-gray-grupo-lr h5 {
	padding-bottom: 3%;
}

/* fotos destacadas*/

.gtitulo{
	border:2px solid #667885;
}

.gtext{
	color: #ffffff;
	font-family: "Oswald" ,arial;
	padding: 2px;
	margin-top: -35px;
}

.bcg{
	background-color: #667885;
	width: 131px;
}


/*imagen*/

.iborder{
	border:1px solid #667885 ;
}

.big{
	margin-top: 20px;
}

.sml{
	float: left;
}

.sml1{
	clear: both;
	padding-top: 10px;
}

/*tipografia*/

.news{
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

.mt{
	margin-top: 10px;
}

.news a:hover{
	color: #000; 
}

.news a {
	color: #000;
}

.mv-42 {
	margin-top: 42px;
    margin-bottom: 42px;
}

/*especiales*/

.ollanta{
	background-image: url(../image/img_especiales_aside.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
	margin-top: 20px;
	padding-top: 105px;
}

.rlj{
	background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    padding: 3px;
    width: 265px;
}

