/*body*/
* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
}

/*común*/
.img-cien {
	width: 100%;
}

.relative {
	position: relative;
}

.family-oswald {
	font-family: Oswald;
}

/*header*/

body .header-sup {
	background-color: #DDD;
	height: auto;
	border-bottom: 1px solid #8A8A8A;
	padding-top: 1%;
}

/*buscador*/

div .enlaces {
	padding-top: 12px;
	padding-bottom: 8px;
}

div .enlaces a {
	color: #5E5E5E;
	font-size: 0.8em;
	padding-right: 8px;
}

.buscador {
	padding-bottom: 5px;
	padding-top: 3px;
}

.buscador button {
	padding: 2px ;
	font-size: 0.8em;
	margin-right: 20px;
}

.buscador a {
	padding-right: 16px;
}

.buscador .form-inline {
	display: inline-block;
}

.form-inline:before {
	content: "\007C";
	color: gray;
    font-size: 20px;
    position: relative;
    top: 1.5px;
}

.line:before {
	content: "\007C";
	color: gray;
    font-size: 20px;
    position: relative;
    top: 1.5px;
}

.buscador input {
	font-size: 0.6em;
	width: 63%;
	background-color: transparent;
	border: none;
}

form button {
	border: none;
}

/*logo*/

.header-logo {
	padding-top: 2%;
	padding-bottom: 1.5%;
}

.logo-img {
	width: 344px;
}

.logo-img-header {
	padding-top: 10px;
}

/*caja noticia*/

.box-autor {
	padding-left: 67px;
}

.noticia-nac {
	font-size: 0.7em;
	font-weight: bold;
	border-top: 0.8px solid #8A8A8A;
	border-left: 0.8px solid #8A8A8A;
	border-bottom: 3px solid #C00101;
	border-right: 0.8px solid #8A8A8A;
	height: 60px;
	width: 113%;
	padding-top: 24px;
}

.domingo {
	font-size: .9em;
    font-weight: bold;
    color: #FFF;
    background-color: #BF0000;
    width: 20%;
    height: 20px;
    padding: 3px 11px 2px 6px;
	position: absolute;
	top: -11px;
	left: 39%;
}

.text-autor {
	display: inline-block;
    border: .8px solid #8A8A8A;
    border-radius: 13px;
    width: 90%;
    height: auto;
    font-size: 0.8em;
    padding: 11px;
    background-color: #FFF;
    margin-left: 14px;
}

.autor-fondo {
	background-color: #1F1F1F;
	height: 60px;
	width: 100%;
}

.box-autor-black {
	padding-left: 41px;
}

.img-autor {
	position: absolute;
	top: -6px;
    left: 333px;
}

.img-editorial {
	position: absolute;
	top: 5px;
}

/*nav red*/

.bg-red {
	background-color: #BF0000;
	border-radius: 8px;
	font-size: 0px;
	overflow: hidden;
	margin-bottom: 21px;
}

.btn-nav {
    font-size: 12px;
    color: white;
    display: inline-block;
	padding: 7px 25px 7px 27px;
}

.nav-blue {
	background-color: #113573 !important;
}

.linea-black {
	border-right: 1px solid #333;
}

/*nav gray*/

.bg-gray-nav {
	background-color: #EFEFEF;
	font-size: 0px;
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 20px;
}

.nav-gray {
	float: left;
}

.nav-gray:after {
	content: "\2022";
	color: gray;
    font-size: 20px;
    position: relative;
    top: 1.5px;
}

.btn-black {
	background-color: #000;
	float: left;
}

.btn-black {
	color: #FFF !important;
}

.btn-nav-gray {
    font-size: 12px;
    color: #000;
    display: inline-block;
	padding: 7px 30px 7px 34px;
}

/*noticias*/

.noticia-jne {
	background-image: url(../image/img_grid_principal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: -moz-linear-gradient(top,  rgba(181,189,200,0.28) 0%, rgba(40,52,59,0.99) 99%, rgba(40,52,59,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.28) 0%,rgba(0,0,0,0.99) 99%,rgba(40,52,59,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.28) 0%,rgba(0,0,0,0.9) 99%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b5bdc8', endColorstr='#28343b',GradientType=0 );
}

.belaunde {
	background-image: url(../image/img_grid_secundario.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 237px;
}

.espacio {
	margin-bottom: 5%;
}

.noticia-principal .titulo-noticia a {
	color: #000;
	font-size: 1.2em;
}

.iconos-inf p {
	display: inline-block;
}

div .overlay .noticia-texto h3 a{
	color: #FFF;
	text-shadow: 4px 3px 4px #000;
}

div .overlay .noticia-texto h4 a{
	color: #FFF;
	text-shadow: 4px 3px 4px #000;
}

div .overlay .noticia-texto p a{
	color: #FFF;
	font-size: 0.7em;
}

.texto-izq {
	padding: 370px 30px 0 30px;
}

.texto-der {
	padding: 140px 30px 0 30px;
}

/*iconos*/

.bg-if, .bg-it, .bg-ig {
	display: inline-block;
	background-color: #EFEFEF;
	width: 25px;
	height: 25px;
	padding: 2px;
	border-radius: 5px;
	border-bottom: 3px solid;
}

.iconos-inf .bg-if .fa-facebook {
	color: #23599B;
}

.iconos-inf .titulo-hora {
	padding-right: 4px;
	font-size: .8em;
}

.fa-twitter {
	color: #00B8DB;
}

.fa-google-plus {
	color: #ED6559;
}

.fa-rss {
	color: #F1A539;
}

.iconos-inf .bg-if {
	border-color: #23599B;
}

.iconos-inf .bg-it {
	border-color: #00B8DB;
}

.iconos-inf .bg-ig {
	border-color: #ED6559;
}

/*hover*/

.nav-box li .blue:hover {
	background-color: #284483;
	padding-top: 7px;
}

.nav-box li a:hover {
	background-color: #DE6363;
	padding-top: 7px;
}

.bg-if:hover {
    background-color: rgba(0, 42, 80, 0.5);
} 

.bg-it:hover {
    background-color: rgba(0, 110, 163, 0.4);
} 

.bg-ig:hover {
    background-color: rgba(178, 44, 42, 0.5);
} 

.nav-red:hover {
	background-color: #ED4744;
}

.enlaces a:hover {
	color: #403E3E;
}

.btn-nav:hover {
	text-decoration: none;
	color: white;
}

@media screen and (max-width : 768px) {
	.box-autor {
		padding-left: 0;
		padding-right: 10px;
	}

	.box-autor-black {
		padding-left: 0;
	}

	.logo-img-header {
	padding-bottom: 40px;
	}

	.autor-fondo {
		width: 115%;
	}

	.img-editorial {
		left: 0;
	}

	.img-autor {
		top: -3px;
		left: 710px;
	}

	.btn-nav-gray {
		padding-right: 5px;
	}
}

@media screen and (max-width : 480px) {
	

}